---
swagger: "2.0"
info:
  description: '**SVM Energy** API for retrieving customers billing information.'
  version: 1.0.0
  title: SVM Energy Billing Data API
  contact:
    name: SVM Energy
    url: https://svmenergy.net
    email: konstantinos.a@svmenergy.net
host: svm.energy
basePath: /api
tags:
- name: Authorization
  description: Calls for obtaining access to the API
- name: Customers
  description: Calls for retrieving customer Data
- name: Billing
  description: Calls for retrieving billing related data
paths:
  /auth/login:
    post:
      tags:
      - Authorization
      summary: Creates a new valid API key or returns the current valid key
      description: |
        Create a new valid API key for obtaining access to authorised API calls.
      parameters:
      - name: username
        in: query
        description: Username of the account requesting API access
        required: true
        type: string
        format: email
      - name: password
        in: query
        description: Password of the account requesting API access
        required: true
        type: string
      responses:
        "200":
          description: Valid API Key
          schema:
            $ref: '#/definitions/inline_response_200'
        "201":
          description: A valid API key already exists
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
  /auth/delete:
    post:
      tags:
      - Authorization
      summary: Delete all assigned API keys to the account
      description: |
        Delete all API keys created by this user.
      produces:
      - application/json
      parameters:
      - name: username
        in: query
        description: Username of the account requesting API access
        required: true
        type: string
        format: email
      - name: password
        in: query
        description: Password of the account requesting API access
        required: true
        type: string
      responses:
        "200":
          description: API keys deleted
          schema:
            $ref: '#/definitions/inline_response_200_1'
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
  /{APIKey}/customers/all/:
    get:
      tags:
      - Customers
      summary: All customers
      description: |
        Return a list of all customers that are assigned to
        the requesting account
      produces:
      - application/json
      parameters:
      - name: APIKey
        in: path
        description: A valid API key associated to the requesting account
        required: true
        type: string
      responses:
        "200":
          description: Array of all customers
          schema:
            type: array
            items:
              $ref: '#/definitions/CustomerNameID'
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
  /{APIKey}/customers/{CustomerID}/info:
    get:
      tags:
      - Customers
      summary: Returns information about the given customer
      description: |
        By passing in the appropriate options, you can retrieve info for the
        given customer.
      produces:
      - application/json
      parameters:
      - name: APIKey
        in: path
        description: A valid API key associated to the requesting account
        required: true
        type: string
      - name: CustomerID
        in: path
        description: Customer's unique ID to retrieve
        required: true
        type: integer
      responses:
        "200":
          description: Information of given customer
          schema:
            type: array
            items:
              $ref: '#/definitions/CustomerInfo'
        "400":
          description: Invalid request
        "404":
          description: Requested resource not found
  /{APIKey}/customers/accountNo/{AccountNo}/info:
    get:
      tags:
        - Customers
      summary: Retrieves customer's info with given account number
      description: |
        Retrieve customer information that has an account number same as the one
        given in the query path parameter. Returns a JSON object with the same.
      produces:
      - application/json
      parameters:
      - name: APIKey
        in: path
        description: A valid API key associated to the requesting account
        required: true
        type: string
      - name: AccountNo
        in: path
        description: Customer's unique account number to update
        required: true
        type: integer
      responses:
        "200":
          description: Information of given customer
          schema:
            type: array
            items:
              $ref: '#/definitions/CustomerInfo'
        "400":
          description: Invalid request
        "404":
          description: Requested resource not found
          
  /{APIKey}/customers/new:
    post:
      tags:
      - Customers
      summary: Creates a new customer
      description: |
        By passing all the required data as form-data, a new customer is created.
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
        - name: APIKey
          in: path
          description: A valid API key associated to the requesting account
          required: true
          type: string
        - name: Customer_Name
          in: formData
          type: string
          required: true
        - name: Customer_Number
          in: formData
          type: string
          required: true
        - name: Address
          in: formData
          type: string
          required: true
        - name: Email
          in: formData
          type: string
          required: true
        - name: Tel_Number
          in: formData
          type: string
          required: true
        - name: VAT_Number
          in: formData
          type: string
          required: true
        - name: Discount_Rate
          in: formData
          type: string
          required: true
        - name: Consumer_Number
          in: formData
          type: string
          required: true
        - name: Customer_Class
          in: formData
          type: string
          required: true
        - name: Category
          in: formData
          type: string
          required: true
        - name: Meter_Address
          in: formData
          type: string
          required: true
        - name: Meter_PostalCode
          in: formData
          type: string
          required: true
        - name: Meter_City
          in: formData
          type: string
          required: true
        - name: Meter_Country
          in: formData
          type: string
          required: true
        - name: Meter_No
          in: formData
          type: string
          required: true
        - name: Premise_Id
          in: formData
          type: string
          required: true
        - name: Tarrif_Code
          in: formData
          type: string
          required: true
        - name: Voltage_Connection
          in: formData
          type: string
          required: true
        - name: Load_Connection
          in: formData
          type: string
          required: true
        - name: Load_Ent_Fuse_kVA
          in: formData
          type: string
          required: true
        - name: Load_Ent_Fuse_A
          in: formData
          type: string
          required: true
        - name: Cycle
          in: formData
          type: string
          required: true
        - name: Route
          in: formData
          type: string
          required: true
        - name: Account_No
          in: formData
          type: string
          required: true
      
      responses:
        "200":
          description: Customer created successfully
          schema:
            type: array
            items:
              $ref: '#/definitions/inline_response_200_2'
        "400":
          description: Invalid request
        "404":
          description: Requested resource not foun
  /{APIKey}/customers/{CustomerID}/update:
    post:
      tags:
        - Customers
      summary: Updates customer with given ID
      description: |
        Update the customer that has ID same with the URL parameter 
        with the data provided as form-data. Not all fields are required, only the ones
        that are needed for update.
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: APIKey
        in: path
        description: A valid API key associated to the requesting account
        required: true
        type: string
      - name: CustomerID
        in: path
        description: Customer's ID
        required: true
        type: string
      - name: Customer_Name
        in: formData
        type: string
        required: false
      - name: Customer_Number
        in: formData
        type: string
        required: false
      - name: Address
        in: formData
        type: string
        required: false
      - name: Email
        in: formData
        type: string
        required: false
      - name: Tel_Number
        in: formData
        type: string
        required: false
      - name: VAT_Number
        in: formData
        type: string
        required: false
      - name: Discount_Rate
        in: formData
        type: string
        required: false
      - name: Consumer_Number
        in: formData
        type: string
        required: false
      - name: Customer_Class
        in: formData
        type: string
        required: false
      - name: Category
        in: formData
        type: string
        required: false
      - name: Meter_Address
        in: formData
        type: string
        required: false
      - name: Meter_PostalCode
        in: formData
        type: string
        required: false
      - name: Meter_City
        in: formData
        type: string
        required: false
      - name: Meter_Country
        in: formData
        type: string
        required: false
      - name: Meter_No
        in: formData
        type: string
        required: false
      - name: Premise_Id
        in: formData
        type: string
        required: false
      - name: Tarrif_Code
        in: formData
        type: string
        required: false
      - name: Voltage_Connection
        in: formData
        type: string
        required: false
      - name: Load_Connection
        in: formData
        type: string
        required: false
      - name: Load_Ent_Fuse_kVA
        in: formData
        type: string
        required: false
      - name: Load_Ent_Fuse_A
        in: formData
        type: string
        required: false
      - name: Cycle
        in: formData
        type: string
        required: false
      - name: Route
        in: formData
        type: string
        required: false
      responses:
        "200":
          description: Customer updated successfully
          schema:
            type: array
            items:
              $ref: '#/definitions/CustomerInfo'
  /{APIKey}/customers/accountNo/{AccountNo}/update:
    post:
      tags:
        - Customers
      summary: Updates customer with given account number
      description: |
        Update the customer that has ID same with the URL parameter 
        with the data provided as form-data. Not all fields are required, only the ones
        that are needed for update.
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: APIKey
        in: path
        description: A valid API key associated to the requesting account
        required: true
        type: string
      - name: AccountNo
        in: path
        description: Unique customer's account number.
        required: true
        type: string
      - name: Customer_Name
        in: formData
        type: string
        required: false
      - name: Customer_Number
        in: formData
        type: string
        required: false
      - name: Address
        in: formData
        type: string
        required: false
      - name: Email
        in: formData
        type: string
        required: false
      - name: Tel_Number
        in: formData
        type: string
        required: false
      - name: VAT_Number
        in: formData
        type: string
        required: false
      - name: Discount_Rate
        in: formData
        type: string
        required: false
      - name: Consumer_Number
        in: formData
        type: string
        required: false
      - name: Customer_Class
        in: formData
        type: string
        required: false
      - name: Category
        in: formData
        type: string
        required: false
      - name: Meter_Address
        in: formData
        type: string
        required: false
      - name: Meter_PostalCode
        in: formData
        type: string
        required: false
      - name: Meter_City
        in: formData
        type: string
        required: false
      - name: Meter_Country
        in: formData
        type: string
        required: false
      - name: Meter_No
        in: formData
        type: string
        required: false
      - name: Premise_Id
        in: formData
        type: string
        required: false
      - name: Tarrif_Code
        in: formData
        type: string
        required: false
      - name: Voltage_Connection
        in: formData
        type: string
        required: false
      - name: Load_Connection
        in: formData
        type: string
        required: false
      - name: Load_Ent_Fuse_kVA
        in: formData
        type: string
        required: false
      - name: Load_Ent_Fuse_A
        in: formData
        type: string
        required: false
      - name: Cycle
        in: formData
        type: string
        required: false
      - name: Route
        in: formData
        type: string
        required: false
      responses:
        "200":
          description: Customer updated successfully
          schema:
            type: array
            items:
              $ref: '#/definitions/CustomerInfo'
  /{APIKey}/billing/customer/{AccountNo}/{month}/{year}:
    get:
      tags:
      - Billing
      summary: Returns billing totals of a customer for given month
      description: |
        By passing in the appropriate options, you can retrieve info for the
        given customer.
      produces:
      - application/json
      parameters:
      - name: APIKey
        in: path
        description: A valid API key associated to the requesting account
        required: true
        type: string
      - name: AccountNo
        in: path
        description: Unique account number of the customer that data are requested
        required: true
        type: integer
      - name: month
        in: path
        description: Month to retrieve billing total costs
        required: true
        type: string
        enum:
        - Jan
        - Feb
        - Mar
        - Apr
        - May
        - Jun
        - Jul
        - Aug
        - Sep
        - Oct
        - Nov
        - Dec
      - name: year
        in: path
        description: Year to retrieve billing total costs
        required: true
        type: integer
      responses:
        "200":
          description: search results matching criteria
          schema:
            type: array
            items:
              $ref: '#/definitions/BillingSummary'
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
  /{APIKey}/billing/customers/all/{month}/{year}:
    get:
      tags:
      - Billing
      summary: Returns billing totals of all customers for given month/year
      description: |
        By passing in the appropriate options, you can retrieve billing info for
        all the customers.
      produces:
      - application/json
      parameters:
      - name: APIKey
        in: path
        description: A valid API key associated to the requesting account
        required: true
        type: string
      - name: month
        in: path
        description: Month to retrieve billing total costs
        required: true
        type: string
        enum:
        - Jan
        - Feb
        - Mar
        - Apr
        - May
        - Jun
        - Jul
        - Aug
        - Sep
        - Oct
        - Nov
        - Dec
      - name: year
        in: path
        description: Year to retrieve billing total costs
        required: true
        type: integer
      responses:
        "200":
          description: search results matching criteria
          schema:
            type: array
            items:
              $ref: '#/definitions/BillingSummaryAllMonthYear'
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
  /{APIKey}/billing/sum/customers/all/{month}/{year}:
    get:
      tags:
      - Billing
      summary: Returns billing summation of all customers for given month
      description: |
        By passing in the appropriate options, you can retrieve sum of billing totals for
        all the customers.
      produces:
      - application/json
      parameters:
      - name: APIKey
        in: path
        description: A valid API key associated to the requesting account
        required: true
        type: string
      - name: month
        in: path
        description: Month to retrieve billing total costs
        required: true
        type: string
        enum:
        - Jan
        - Feb
        - Mar
        - Apr
        - May
        - Jun
        - Jul
        - Aug
        - Sep
        - Oct
        - Nov
        - Dec
      - name: year
        in: path
        description: Year to retrieve billing total costs
        required: true
        type: integer
      responses:
        "200":
          description: search results matching criteria
          schema:
            type: array
            items:
              $ref: '#/definitions/BillingSummary'
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
  /{APIKey}/billing/sum/customer/{AccountNo}/{year}:
    get:
      tags:
      - Billing
      summary: Returns billing totals sum of a customer for given year
      description: |
        By passing in the appropriate options, you can retrieve sum of billing totals for
        the customer per year.
      produces:
      - application/json
      parameters:
      - name: APIKey
        in: path
        description: A valid API key associated to the requesting account
        required: true
        type: string
      - name: AccountNo
        in: path
        description: Unique account number of the customer that data are requested
        required: true
        type: integer
      - name: year
        in: path
        description: Year to retrieve billing total costs
        required: true
        type: integer
      responses:
        "200":
          description: search results matching criteria
          schema:
            type: array
            items:
              $ref: '#/definitions/BillingSummaryYear'
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
definitions:
  CustomerNameID:
    type: object
    properties:
      Customer_Name:
        type: string
        example: John Johnny
      CustomerId:
        type: integer
        example: 155
  CustomerInfo:
    type: object
    properties:
      Customer_ID:
          type: string
      Customer_Name:
          type: string
      Customer_Number:
          type: string
      Address:
          type: string
      Email:
          type: string
      Tel_Number:
          type: string
      VAT_Number:
          type: string
      Discount_Rate:
          type: string
      Consumer_Number:
          type: string
      Customer_Class:
          type: string
      Category:
          type: string
      Meter_Address:
          type: string
      Meter_PostalCode:
          type: string
      Meter_City:
          type: string
      Meter_Country:
          type: string
      Meter_No:
          type: string
      Premise_Id:
          type: string
      Tariff_Code:
          type: string
      Voltage_Connection:
          type: string
      Load_Connection:
          type: string
      Load_Ent_Fuse_kVA:
          type: string
      Load_Ent_Fuse_A:
          type: string
      Cycle:
          type: string
      Route:
          type: string
      Account_No:
          type: string
  BillingSummary:
    type: object
    properties:
      AccountNo:
        type: string
        description: Customer Name
      "Month - Year":
        type: string
        description: Month and year of the query
      recogniseSales:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
              description: PEL value mapping ID
            description:
              description: Explanatory name of value
              type: string
            value:
              type: number
  BillingSummaryYear:
    type: object
    properties:
      AccountNo:
        type: string
        description: Customer Name
      Year:
        type: integer
        description: Year of the query
      recogniseSales:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
              description: PEL value mapping ID
            description:
              description: Explanatory name of value
              type: string
            value:
              type: number
  BillingSummaryAllMonthYear:
    type: object
    properties:
      'Month - Year':
        type: string
        description: Month and year of query
      Customers:
        type: array
        items:
            type: object
            properties:
              'Customer Name':
                type: string
                description: Name of the customer
              recogniseSales:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: PEL value mapping ID
                    description:
                      description: Explanatory name of value
                      type: string
                    value:
                      type: number
  inline_response_200:
    type: object
    properties:
      API_Key:
        type: string
        example: 95c5900fe91ee9d2877742c0b87fabe5
      Expiration:
        type: string
        format: timestamp
        example: 2022-04-08 05:50:13
  inline_response_200_1:
    type: object
    properties:
      Delete:
        type: string
        enum:
        - Success
  inline_response_200_2:
    type: object
    properties:
      Create New Customer:
        type: string
        enum:
        - Success
parameters:
  username:
    name: username
    in: query
    description: Username of the account requesting API access
    required: true
    type: string
    format: email
  password:
    name: password
    in: query
    description: Password of the account requesting API access
    required: true
    type: string
  APIKey:
    name: APIKey
    in: path
    description: A valid API key associated to the requesting account
    required: true
    type: string
responses:
  APIKey:
    description: Valid API Key
    schema:
      $ref: '#/definitions/inline_response_200'
  "400Error":
    description: Invalid request
  "401Unauthorized":
    description: Unauthorized
  "404notfound":
    description: Requested resource not found
